body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

header {
    background: #4CAF50;
    color: #fff;
    padding: 2em 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    position: relative;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1em;
    display: inline-block;
    transition: color 0.2s;
}

header a:hover {
    color: #ffeb3b;
}

main {
    width: 100%;
    max-width: 1000px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card {
    background: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 0.5em;
}

p, ul, li, a {
    color: #555; /* Secondary text color */
    margin-bottom: 1em;
}

ul {
    padding-left: 1.5em;
    margin-bottom: 1em;
}

a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #388E3C;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #4CAF50;
    color: #fff;
    width: 100%;
    margin-top: 2em;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.version {
    font-size: 0.8em;
    color: #ddd;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
