body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* 背景をほぼ白のグレーに */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #000; /* テキストを黒に */
}

header {
    background: #4CAF50; /* オシャレな緑に */
    color: #000; /* テキストを黒に */
    padding: 2em 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #000; /* テキストを黒に */
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    color: #ffeb3b;
}

main {
    width: 100%;
    max-width: 1000px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card {
    background: #fff; /* 背景を白に */
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
    color: #000; /* テキストを黒に */
    margin-bottom: 0.5em;
}

p, ul, li, a {
    color: #000; /* テキストを黒に */
    margin-bottom: 1em;
}

ul {
    padding-left: 1.5em;
    margin-bottom: 1em;
}

a {
    color: #000; /* テキストを黒に */
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #388E3C;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #4CAF50; /* オシャレな緑に */
    color: #000; /* テキストを黒に */
    width: 100%;
    margin-top: 2em;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.version {
    font-size: 0.8em;
    color: #ddd;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.timeline-item {
    display: flex;
    align-items: center;
    gap: 1em;
}

.timeline-img {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.timeline-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timeline-content {
    flex-grow: 1;
}
